@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  display: inline-block;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
  margin: 0;
}

.container {
  max-width: 1360px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.heade_select {
  border: none;
  gap: 40px;
  margin-right: 40px;
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0.03em;
  color: #000;
}

.header_top_block {
  padding-top: 17px;
  padding-bottom: 17px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
.home_a {
  margin-right: 40px;
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0.03em;
  color: #000;
}
.header_tel {
  display: flex;
  align-items: center;
  gap: 2px;
}
.tel_num {
  font-weight: 400;
  font-size: 15px;
  line-height: 150%;
  letter-spacing: 0.03em;
  color: #000;
}

/* header_bottom */
.header_bottom_block {
  padding-top: 20px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header_input {
  padding-top: 12px;
  padding-left: 16px;
  padding-bottom: 12px;
  padding-right: 20px;
  width: 600px;
  display: block;
  outline: none;
  position: relative;
  border-radius: 5px;
  outline: none;
  border: none;
  border: 2px solid #64b496;
}
.form::after {
  content: "";
  position: absolute;
  display: inline-block;
  background-image: url(../img/search.svg);
  background-repeat: no-repeat;
  width: 45px;
  height: 45px;
  right: 31%;
  top: 43px;
  transform: translate(-45%);
}
.form_home:after {
  right: 34%;
}

.header_bottom_select {
  display: inline-block;
  position: absolute;
  margin-top: -44px;
  margin-left: 400px;
  padding-top: 8px;
  padding-left: 13px;
  padding-bottom: 8px;
  outline: none;
  border: none;
  border-left: 2px solid #64b496;
}
.header_bottom_list {
  display: flex;
  align-items: center;
  gap: 30px;
}
.header_bottom_item::before {
  content: "";
  background-image: url(../img/account.svg);
  background-repeat: no-repeat;
  width: 26px;
  height: 20px;
  display: inline-block;
}
.header_bottom_item {
  display: flex;
  align-items: center;
}
.header_bottom_item:nth-child(2):before {
  background-image: url(../img/like.svg);
}
.header_bottom_item:nth-child(3):before {
  background-image: url(../img/store.svg);
}
.header_bottom_link {
  font-weight: 500;
  font-size: 15px;
  line-height: 100%;
  letter-spacing: 0.03em;
  color: #000;
}
/* hero */
.hero {
  background-image: url(../img/bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 268px 0;
  margin-top: 22px;
  margin-bottom: 100px;
}
.hero_sub {
  font-weight: 700;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: #212529;
  margin-bottom: 20px;
}
.red {
  border-bottom: 2px solid #f53e32;
  text-align: center;
  width: 52px;
  height: 30px;
  font-weight: 700;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: #f53e32;
}
.hero_title {
  font-weight: 900;
  font-size: 55px;
  line-height: 124%;
  letter-spacing: 0.01em;
  color: #000;
  width: 522px;
  margin-bottom: 25px;
}
.hero_text {
  font-weight: 400;
  font-size: 15px;
  line-height: 175%;
  letter-spacing: 0.03em;
  color: #7a7a7a;
  width: 488px;
  margin-bottom: 30px;
}
.hero_button {
  background-color: #f53e32;
  font-weight: 700;
  font-size: 13px;
  line-height: 120%;
  letter-spacing: 0.03em;
  text-transform: capitalize;
  color: #fff;
  border: 1px solid #f53e32;
  border-radius: 5px;
  padding: 12px 23px;
}

/* menu */

.menu_item {
  padding-top: 19px;
  padding-bottom: 42px;
  width: 416px;
  height: 83px;
  background-color: #f7f7f8;
  text-align: center;
  margin-bottom: 5px;
}
.menu_name {
  margin-bottom: 6px;
  font-weight: 500;
  font-size: 16px;
  line-height: 143%;
  text-align: center;
  color: #2b2b2d;
}
.menu_stuffs {
  font-weight: 400;
  font-size: 12px;
  line-height: 143%;
  text-align: center;
  color: #7a7a7a;
}
.menu_block {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}
.menu_name_chosen {
  font-weight: 500;
  font-size: 16px;
  line-height: 143%;
  text-align: center;
  color: #f53e32;
}
.b {
  font-family: var(--font4);
  font-weight: 700;
  font-size: 16px;
  line-height: 143%;
  letter-spacing: 0.03em;
  text-align: center;
  color: #f53e32;
  margin-top: 10px;
}
.hero_img_block {
  position: relative;
}
.hero_img_block::before {
  content: "";
  background-image: url(../img/hero_discount.svg);
  background-repeat: no-repeat;
  position: absolute;
  width: 105px;
  left: 5%;
  top: 5%;
  height: 60px;
}
.hero_img_block:nth-child(3):before {
  background-image: url(../img/40percentage.svg);
}

.hero_btn {
  position: absolute;
  font-weight: 700;
  font-size: 13px;
  line-height: 120%;
  letter-spacing: 0.03em;
  text-transform: capitalize;
  color: #fff;
  background-color: #f53e32;
  border: 1px solid #f53e32;
  border-radius: 5px;
  padding: 12px 23px;
  bottom: 0;
  left: 50%;
  bottom: 10%;
  transform: translate(-50%);
}
.hero_cake_text {
  position: absolute;
  bottom: 20%;
  left: 50%;
  transform: translate(-50%);
  font-weight: 700;
  font-size: 22px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: #fff;
}

/* Products */
.Products {
  margin-top: 76px;
  margin-bottom: 100px;
}

.product_title {
  font-weight: 700;
  font-size: 32px;
  line-height: 120%;
  letter-spacing: 0.01em;
  text-align: center;
  color: #2b2b2d;
  margin-bottom: 16px;
}
.product_text {
  font-weight: 400;
  font-size: 14px;
  line-height: 157%;
  letter-spacing: 0.03em;
  text-align: center;
  color: #7a7a7a;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}
.product_link {
  font-weight: 700;
  font-size: 14px;
  line-height: 167%;
  letter-spacing: 0.03em;
  color: #2b2b2d;
}
.product_list {
  margin-bottom: 12px;
}
.product_item {
  display: flex;
  align-items: center;
  position: relative;
  width: 306px;
  height: 50px;
  background-color: #f7f7f8;
  border: 1px solid #e9e9e9;
  border-radius: 5px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;
  margin-bottom: 10px;
}

.product_item::after {
  content: "";
  width: 17px;
  height: 27px;
  position: absolute;
  right: 10px;
  background-image: url(../img/right_mark_black.svg);
  background-repeat: no-repeat;
}
.product_link_chosen {
  font-weight: 700;
  font-size: 14px;
  line-height: 167%;
  letter-spacing: 0.03em;
  color: #f53e32;
}

.product_item:nth-child(1):after {
  background-image: url(../img/right_mark.svg);
}

.product_juice {
  height: 686px;
  width: 306px;
}
.product_stuff_item {
  width: 306px;
  text-align: center;
  padding: 13px 13px 16px 13px;
  border: 1px solid #e9e9e9;
  border-radius: 5px;
  position: relative;
}
.product_stuff_item:before {
  content: "";
  position: absolute;
  background-image: url(../img/bag.svg);
  background-repeat: no-repeat;
  width: 35px;
  height: 35px;
  top: 53%;
  left: 50%;
  transform: translate(-50%, 50%);
}
.product_stuff_sub {
  font-weight: 400;
  font-size: 13px;
  line-height: 150%;
  letter-spacing: 0.04em;
  text-align: center;
  color: #777;
  margin-bottom: 8px;
  margin-top: 24px;
}
.product_stuff_text {
  font-weight: 500;
  font-size: 15px;
  line-height: 160%;
  letter-spacing: 0.03em;
  text-align: center;
  color: #2b2b2d;
  width: 246px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 5px;
}
.product_stuff_price {
  font-weight: 700;
  font-size: 16px;
  line-height: 175%;
  letter-spacing: 0.03em;
  text-align: center;
  color: #f53e32;
}
.product_through_line {
  font-weight: 400;
  font-size: 13px;
  line-height: 175%;
  letter-spacing: 0.04em;
  text-decoration: line-through;
  text-align: center;
  color: #7a7a7a;
}
.star_mark {
  font-weight: 400;
  font-size: 11px;
  line-height: 91%;
  letter-spacing: 0.04em;
  text-align: center;
  color: #999;
}
.star_block {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  text-align: center;
  margin-bottom: 17px;
}
.product_store_list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  align-items: start;
}
.product_block {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 30px;
}
/* shop_ads */
.shop_ads_link {
  display: flex;
  justify-content: space-between;
}
.shop_ads {
  margin-bottom: 100px;
}

.shop_ads_item {
  padding-top: 44px;
  padding-bottom: 44px;
  padding-left: 24px;
  background-image: url(../img/ads_bg.jpg);
  background-repeat: no-repeat;
  width: 416px;
  height: 228px;
}
.shop_ads_item:nth-child(2) {
  background-image: url(../img/adsbg.jpg);
}
.shop_ads_item:nth-child(3) {
  background-image: url(../img/adsbackground.png);
}

.shop_ads_title {
  font-weight: 700;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2b2b2d;
  width: 166px;
  margin-bottom: 14px;
}
.shop_ads_text {
  font-weight: 400;
  font-size: 14px;
  line-height: 120%;
  letter-spacing: 0.03em;
  color: #777;
  margin-bottom: 13px;
  margin-left: 5px;
}
.ads_span {
  font-weight: 700;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: #f53e32;
  margin-right: 5px;
}
.shop_ads_btn {
  border-radius: 5px;
  background-color: #f53e32;
  padding: 12px 23px;
  font-weight: 700;
  font-size: 14px;
  line-height: 120%;
  letter-spacing: 0.03em;
  text-transform: capitalize;
  color: #fff;
  border: none;
}

/* support */
.support {
  margin-bottom: 100px;
}
.support_list {
  display: flex;
  justify-content: space-between;
}
.support_item {
  padding: 25px;
  width: 306px;
  background-color: #f7f7f8;
}
.support_cub {
  border: 2px solid red;
  width: 43px;
  height: 41px;
  margin-bottom: 12px;
  margin-left: auto;
  margin-right: auto;
}
.support_title {
  font-weight: 600;
  font-size: 18px;
  line-height: 167%;
  letter-spacing: 0.03em;
  text-align: center;
  color: #2b2b2d;
  margin-bottom: 9px;
}
.support_text {
  font-weight: 300;
  font-size: 14px;
  line-height: 157%;
  letter-spacing: 0.03em;
  text-align: center;
  color: #7a7a7a;
  width: 205px;
  margin-left: auto;
  margin-right: auto;
}
/* deal */
.deal {
  background-image: url(../img/deal.bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 162px 0;
}
.deal_block {
  padding-left: 24px;
  padding-top: 24px;
  padding-bottom: 24px;
  box-shadow: -3px 3px 8px 5px rgba(0, 0, 0, 0.05);
  background: rgba(255, 255, 255, 0.22);
  border-radius: 5px;
  width: 500px;
}
.deal_discount {
  margin-bottom: 14px;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.03em;
  color: #212529;
}
.deal_span {
  font-weight: 700;
  font-size: 26px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: #f53e32;
}

.deal_title {
  font-weight: 700;
  font-size: 28px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: #2b2b2d;
  margin-bottom: 19px;
}
.deal_text {
  font-weight: 300;
  font-size: 14px;
  line-height: 175%;
  letter-spacing: 0.03em;
  color: #7a7a7a;
  width: 439px;
}

/* food_menu */
.food_menu {
  margin-top: 100px;
  margin-bottom: 100px;
}
.food_list {
  display: flex;
  justify-content: space-between;
}

/* comments */
.comments {
  margin-bottom: 100px;
}
.comment_title {
  font-weight: 700;
  font-size: 32px;
  line-height: 120%;
  letter-spacing: 0.01em;
  text-align: center;
  color: #2b2b2d;
  margin-bottom: 16px;
}
.comment_text {
  font-weight: 400;
  font-size: 14px;
  line-height: 157%;
  letter-spacing: 0.03em;
  text-align: center;
  color: #7a7a7a;
  width: 595px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 74px;
}
.comment_list {
  display: flex;
  justify-content: space-between;
}
.comment_item {
  position: relative;
  width: 416px;
  padding: 0px 53px 26px 53px;
  background-color: #f7f7f8;
  border-bottom: 1px solid #e9e9e9;
}
.comment_item:before {
  content: "";
  position: absolute;
  background-image: url(../img/stephan_smith.svg);
  background-repeat: no-repeat;
  width: 120px;
  height: 120px;
  right: 50%;
  transform: translate(50%);
  top: -35px;
}
.comment_item:nth-child(2):before {
  background-image: url(../img/lorem_robinson.svg);
}
.comment_item:nth-child(3):before {
  background-image: url(../img/sadikka.svg);
}
.comment_item:after {
  content: "";
  position: absolute;
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
  background-image: url(../img/comment_mark.svg);
  left: 10%;
  top: 10%;
}
.circle {
  border-left: 1px solid #e9e9e9;
  border-right: 1px solid #e9e9e9;
  border-radius: 0 0 100px 100px;
  width: 121px;
  height: 63px;
  background-color: #fff;
  margin-left: auto;
  margin-right: auto;
}
.comment_sub {
  font-weight: 400;
  font-size: 14px;
  line-height: 236%;
  letter-spacing: 0.03em;
  text-align: center;
  color: #7a7a7a;
  margin-top: 19px;
}
.comment_sub_title {
  font-weight: 700;
  font-size: 18px;
  line-height: 183%;
  letter-spacing: 0.03em;
  text-align: center;
  color: #2b2b2d;
}
.comment_sub_text {
  font-weight: 400;
  font-size: 14px;
  line-height: 175%;
  letter-spacing: 0.03em;
  text-align: center;
  color: #7a7a7a;
  width: 291px;
  margin-left: auto;
  margin-right: auto;
}
/* latest_news */
.latest_news {
  margin-bottom: 100px;
}
.latest_news_title {
  font-weight: 700;
  font-size: 32px;
  line-height: 120%;
  letter-spacing: 0.01em;
  text-align: center;
  color: #2b2b2d;
  margin-bottom: 16px;
}
.latest_news_text {
  font-weight: 400;
  font-size: 14px;
  line-height: 157%;
  letter-spacing: 0.03em;
  text-align: center;
  color: #7a7a7a;
  width: 595px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}
.latest_news_list {
  display: flex;
  justify-content: space-between;
}
.latest_news_item {
  padding-top: 29px;
  padding-left: 25px;
  width: 416px;
  border: 1px solid #e9e9e9;
  border-radius: 5px;
  position: relative;
}
.latest_news_item::after {
  content: "";
  position: absolute;
  width: 59px;
  height: 73px;
  background-image: url(../img/october_10.svg);
  background-repeat: no-repeat;
  bottom: 3%;
  right: 3%;
}
.latest_news_item:nth-child(2):after {
  background-image: url(../img/september_9.svg);
}
.latest_news_item:nth-child(3):after {
  background-image: url(../img/october_12.svg);
}
.news_sub {
  font-weight: 400;
  font-size: 14px;
  line-height: 200%;
  letter-spacing: 0.03em;
  color: #7a7a7a;
  margin-bottom: 9px;
}
.news_sub_title {
  font-weight: 600;
  font-size: 17px;
  line-height: 141%;
  letter-spacing: 0.03em;
  color: #2b2b2d;
  margin-bottom: 13px;
  width: 344px;
}
.news_btn {
  font-weight: 700;
  font-size: 14px;
  line-height: 187%;
  letter-spacing: 0.03em;
  color: #64b496;
  margin-bottom: 29px;
}
.news_img {
  max-width: 416px;
  margin-left: -25px;
  display: flex;
}

/* footer */
.footer {
  padding-top: 82px;
  padding-bottom: 103px;
  background-color: #f7f7f8;
}
.footer_text {
  font-weight: 400;
  font-size: 14px;
  line-height: 175%;
  letter-spacing: 0.03em;
  color: #7a7a7a;
  width: 394px;
  margin-bottom: 30px;
}
.footer_contact_item {
  margin-bottom: 18px;
}
.footer_location {
  font-weight: 400;
  font-size: 14px;
  line-height: 186%;
  letter-spacing: 0.03em;
  color: #777;
  width: 350px;
  display: flex;

  gap: 9px;
}
.footer_location:before {
  content: "";
  display: inline-block;
  background-image: url(../img/location.svg);
  background-repeat: no-repeat;
  width: 23px;
  height: 24px;
}
.footer_contact_link {
  font-weight: 400;
  font-size: 14px;
  line-height: 186%;
  letter-spacing: 0.03em;
  color: #777;
  display: flex;
  align-items: center;
  gap: 5px;
}
.footer_contact_link::before {
  content: "";
  display: inline-block;
  background-image: url(../img/email.svg);
  background-repeat: no-repeat;
  width: 23px;
  height: 24px;
}
.footer_tel_link {
  font-weight: 400;
  font-size: 14px;
  line-height: 186%;
  letter-spacing: 0.03em;
  color: #777;
  display: flex;
  align-items: center;
  align-items: center;
  gap: 5px;
}
.footer_tel_link:before {
  content: "";
  display: inline-block;
  background-image: url(../img/twl.svg);
  background-repeat: no-repeat;
  width: 23px;
  height: 24px;
}

.footer_company_item {
  margin-bottom: 20px;
}
.footer_company_sub_link {
  font-weight: 700;
  font-size: 18px;
  line-height: 130%;
  letter-spacing: 0.03em;
  color: #000;
}
.footer_company_link {
  font-weight: 400;
  font-size: 14px;
  line-height: 186%;
  letter-spacing: 0.03em;
  color: #777;
}

.footer_block {
  display: flex;
  justify-content: space-between;
}
.input_title {
  font-weight: 700;
  font-size: 18px;
  line-height: 130%;
  letter-spacing: 0.03em;
  color: #000;
  margin-bottom: 17px;
}
.footer_input {
  padding: 13px 100px 10px 16px;
  width: 416px;
  border-radius: 5px;
  border: 1px solid #e9e9e9;
  position: relative;
  margin-bottom: 24px;
}
.footer_input_block {
  position: relative;
}
.footer_input_block:after {
  content: "";
  position: absolute;
  background-image: url(../img/send.svg);
  background-repeat: no-repeat;
  width: 21px;
  height: 21px;
  right: 14px;
  top: 50px;
}
.footer_media {
  display: flex;
  gap: 4px;
  margin-bottom: 24px;
}
.footer_img_block {
  display: flex;
  gap: 12px;
}

/* home_hero_section */
.home_hero_section {
  background-image: url(../img/home_hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 268px 0 229px 0;
}

.hero_home_span {
  border-bottom: 2px solid #f53e32;
  font-weight: 700;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: #f53e32;
}
.home_hero_sub {
  font-weight: 700;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: #212529;
  margin-bottom: 18px;
}
.home_hero_title {
  font-weight: 900;
  font-size: 55px;
  line-height: 124%;
  letter-spacing: 0.01em;
  color: #000;
  margin-bottom: 25px;
}
.home_hero_text {
  font-weight: 400;
  font-size: 15px;
  line-height: 175%;
  letter-spacing: 0.03em;
  color: #7a7a7a;
  margin-bottom: 45px;
}
.home_hero_des {
  width: 550px;
}
.home_hero_input {
  padding: 23px 0 23px 58px;
  border: none;
  border-radius: 50px;
  width: 450px;
}
.home_hero_form {
  position: relative;
}
.home_hero_btn {
  position: absolute;
  padding: 20px 40px;
  border-radius: 50px;
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.03em;
  text-align: center;
  color: #fff;
  background-color: #3bb77e;
  left: 50%;
  transform: translate(50%);
}
.home_hero_form:before {
  content: "";
  position: absolute;
  background-repeat: no-repeat;
  background-image: url(../img/hero_home_img.svg);
  width: 50px;
  height: 64px;
}
.home_hero_block {
  display: flex;
  justify-content: space-between;
}
.home_hero_link {
  padding: 12px 20px 12px 41px;
  box-shadow: 5px 5px 15px 0 rgba(0, 0, 0, 0.05);
  background: #fff;
  border: 1px solid #ececec;
  border-radius: 30px;
  font-weight: 700;
  font-size: 17px;
  line-height: 141%;
  text-align: right;
  color: #3bb77e;
  position: relative;
}
.home_hero_link::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background-image: url(../img/home_hero_x.svg);
  left: 10%;
  transform: translate(50%);
  top: 18px;
}
.home_hero_list {
  display: flex;
  gap: 17px;
  width: 657px;
}
.home_hero_item:nth-child(2) .home_hero_link {
  color: #253d4e;
}

/* home_ads */
.home_ads {
  padding-top: 75px;
}
.home_ads_list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
  /* max-width: 1610px; */
  margin-bottom: 50px;
}
.home_ads_item {
  padding: 80px 0 80px 50px;
  /* width: 512px; */
  background-image: url(../img/onion.jpg);
  background-position: right;
  background-size: contain;
  background-repeat: no-repeat;
  /* background-color: #F0E8D5; */
}
.home_ads_item:nth-child(2) {
  background-image: url(../img/phise.jpg);
}
.home_ads_item:nth-child(3) {
  background-image: url(../img/ads_vegetables.jpg);
}
.home_ads_title {
  font-weight: 700;
  font-size: 24px;
  line-height: 120%;
  color: #253d4e;
  width: 200px;
  margin-bottom: 28px;
}
.home_ads_btn {
  font-weight: 700;
  font-size: 12px;
  line-height: 130%;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  padding: 8px 28px 8px 13px;
  border-radius: 4px;
  background-color: #f53e32;
  border: none;
}
.home_product_title {
  font-weight: 700;
  font-size: 32px;
  line-height: 120%;
  color: #253d4e;
}
.home_product_item:nth-child(1) .home_product_link {
  color: #3bb77e;
}
.home_product_title_block {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}
.home_product_link {
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
  text-align: center;
  color: #253d4e;
}
.home_product_list {
  display: flex;
  gap: 20px;
}

.home_product_stuff_sub {
  font-weight: 400;
  font-size: 12px;
  line-height: 200%;
  color: #adadad;
}
.home_product_stuff_title {
  font-weight: 500;
  font-size: 15px;
  line-height: 160%;
  letter-spacing: 0.03em;
  color: #2b2b2d;
  width: 268px;
}
.home_product_star_block {
  display: flex;
  align-items: center;
}
.home_product_stuff_price {
  font-weight: 700;
  font-size: 18px;
  line-height: 133%;
  color: #3bb77e;
}
.home_line {
  margin-left: 10px;
}
.home_product_buy_btn {
  border-radius: 4px;
  background-color: #f53e32;
  border: none;
  padding: 10px 25px 10px 35px;
  font-weight: 700;
  font-size: 14px;
  line-height: 171%;
  color: #fff;
  width: 100px;
  white-space: nowrap;
}
.home_product_buy_btn:before {
  content: "";
  background-repeat: no-repeat;
  background-image: url(../img/buy_bag.svg);
  width: 14px;
  height: 14px;
  display: inline-block;
  margin-right: 5px;
}
.home_product_stuff_mark {
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  color: #b6b6b6;
}
.home_product_stuff_item {
  padding-bottom: 21px;
  border: 1px solid #ececec;
  border-radius: 15px;
  background-color: #fff;
  width: 290px;
}

.product_by {
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  color: #b6b6b6;
}
.product_stuff_span {
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  color: #f53e32;
}
.product_stuff_btn_block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.product_stuff_img {
  width: 100%;
}
.product_stuff_des_block {
  padding-left: 21px;
  padding-right: 9px;
}
.home_product_stuff_list {
  width: 1610px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 24px;
}
.container2 {
  max-width: 1610px;
}

/* home_daily_best_sells_section */
.home_daily_best_sells_section {
  padding-top: 50px;
  padding-bottom: 50px;
}
.daily_best_sells_title {
  font-weight: 700;
  font-size: 32px;
  line-height: 120%;
  color: #253d4e;
}
.daily_best_sells_title_link {
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
  text-align: center;
  color: #253d4e;
}
.daily_best_sells_title_item:nth-child(1) .daily_best_sells_title_link {
  color: #3bb77e;
}
.daily_best_sells_title_block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}
.daily_best_sells_title_list {
  display: flex;
  align-items: center;
  gap: 20px;
}

.daily_best_sells_bring_nature {
  padding: 49px 85px 194px 50px;
  background-image: url(../img/daily_best_sells.jpg);
  background-repeat: no-repeat;
  width: 378px;
}
.daily_best_sells_bring_nature_title {
  font-weight: 700;
  font-size: 40px;
  line-height: 120%;
  color: #fff;
  width: 242px;
  margin-bottom: 100px;
}
.daily_best_sells_bring_nature_btn {
  font-weight: 700;
  font-size: 12px;
  line-height: 130%;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  background-color: #f53e32;
  border-radius: 4px;
  border: none;
  padding: 8px 28px 8px 13px;
}
.daily_best_sells_item {
  padding: 0 21px 21px 21px;
  border: 1px solid #ececec;
  border-radius: 15px;
  width: 278px;

}
/* .daily_best_sells_title_list:before{
  content: "";
  background-image: url(../img/15.svg);
  background-image: none;
  width: 90px;
  height: 30px;
  display: inline-block;
  
} */
.daily_best_top_btn{
padding: 7px 20px 7px 20px;
border-radius: 15px 0 20px 0;
background-color: #f59758;
font-weight: 400;
font-size: 12px;
line-height: 100%;
color: #fff;
margin-left: -21px;

}
.daily_best_sells_sub {
  font-weight: 400;
  font-size: 12px;
  line-height: 200%;
  color: #adadad;
  margin-bottom: 5px;
}
.daily_best_sells_inner_title {
  font-weight: 700;
  font-size: 16px;
  line-height: 120%;
  color: #253d4e;
  width: 195px;
  margin-bottom: 10px;
}
.daily_star {
  margin-bottom: 13px;
}
.daily_best_sells_price {
  font-size: 18px;
  line-height: 133%;
  color: #3bb77e;
  margin-bottom: 10px;
}
.daily_best_sells_span {
  font-weight: 700;
  font-size: 14px;
  line-height: 171%;
  text-decoration: line-through;
  color: #adadad;
}
.daily_best_sells_line {
  margin-bottom: 7px;
}
.dailY_best_sells_poduct_sold {
  font-weight: 400;
  font-size: 13px;
  line-height: 185%;
  color: #253d4e;
  margin-bottom: 12px;
}
.add_to_card_btn {
  padding: 15px 65px;
  border-radius: 4px;
  background-color: #f53e32;
  font-weight: 700;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  margin-left: 6px;
}
.daily_best_sells_list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
  grid-template-rows: 521px;
}
.daily_best_sells_block {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 24px;
}
/* deals_of_the_day */

.deals_of_the_day {
  margin-bottom: 153px;
}
.deal_of_the_day_title_block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 43px;
}
.deal_of_the_day_title {
  font-weight: 700;
  font-size: 32px;
  line-height: 120%;
  color: #253d4e;
}
.day_of_the_day_title_sub {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #7e7e7e;
}
.deal_of_the_day_title_sub::after {
  content: "";
  background-image: url(../img/day_of_the_day_sub.svg);
  background-repeat: no-repeat;
  width: 12px;
  height: 12px;
  display: inline-block;
  margin-left: 5px;
}

.deal_of_the_day_item {
  width: 378px;
  height: 335px;
  position: relative;
  background-image: url(../img/seed.svg);
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 15px;
}
.deal_of_the_day_inner_title {
  font-weight: 700;
  font-size: 16px;
  line-height: 120%;
  color: #253d4e;
  margin-bottom: 8px;
}
.deal_img {
  margin-bottom: 10px;
}

.deal_img_block {
  display: flex;
  align-items: center;
  gap: 5px;
}
.deal_img_text {
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  color: #b6b6b6;
}
.deal_of_the_day_inner_text {
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  color: #b6b6b6;
}
.deal_span {
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  color: #3bb77e;
}
.deal_through_line {
  font-weight: 700;
  font-size: 14px;
  line-height: 171%;
  text-decoration: line-through;
  color: #adadad;
}
.deal_price {
  font-weight: 700;
  font-size: 18px;
  line-height: 133%;
  color: #3bb77e;
}
.deal_btn {
  font-weight: 700;
  font-size: 14px;
  line-height: 171%;
  color: #fff;
  background-color: #f53e32;
  border-radius: 4px;
  border: none;
  padding: 10px 19px 10px 19px;
  text-align: center;
}
.deal_btn::before {
  content: "";
  background-image: url(../img/buy_bag.svg);
  width: 14px;
  height: 14px;
  display: inline-block;
  margin-right: 3px;
}
.deal_price_block {
  display: flex;
  justify-content: space-between;
}
.deal_of_the_day_inner_block {
  position: absolute;
  width: 325px;
  padding: 25px 30px;
  box-shadow: 5px 5px 15px 0 rgba(0, 0, 0, 0.05);
  background: #fff;
  border-radius: 10px;
  bottom: -56%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.deal_of_the_day_list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
}

/* top_selling_products */

.top_selling_list {
  width: 402px;
  padding: 6px 12px;
}
.top_selling_item {
  display: flex;
  align-items: center;
}
.top_selling_title {
  font-weight: 700;
  font-size: 24px;
  line-height: 120%;
  color: #253d4e;
  padding-bottom: 15px;
  border-bottom: 1px solid #ececec;
  margin-bottom: 50px;
  position: relative;
}
.top_selling_title:after {
  content: "";
  width: 80px;
  height: 2px;
  background-color: #bce3c9;
  display: inline-block;
  position: absolute;
  bottom: 0;
  left: 0;
}
.top_selling_sub_title {
  font-weight: 700;
  font-size: 16px;
  line-height: 120%;
  color: #253d4e;
  margin-bottom: 5px;
}
.top_selling_item {
  margin-bottom: 24px;
}

.top_selling_price {
  font-weight: 700;
  font-size: 18px;
  line-height: 133%;
  color: #3bb77e;
}
.top_selling_line {
  font-weight: 700;
  font-size: 14px;
  line-height: 171%;
  text-decoration: line-through;
  color: #adadad;
}
.top_selling_star {
  margin-bottom: 17px;
}
.stop_selling_mark {
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  color: #b6b6b6;
}
.top_selling_star_block {
  display: flex;
}
.top_selling_inner_block {
  margin-left: 12px;
}

.top_selling_block {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1px;
}

/* stay_home */

.stay_home {
  padding-top: 55px;
  padding-bottom: 40px;
}
.stay_home_block {
  background-image: url(../img/stay_home.jpg);
  padding-top: 83px;
  padding-bottom: 83px;
  padding-left: 78px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
.stay_home_title {
  font-weight: 700;
  font-size: 40px;
  line-height: 120%;
  color: #253d4e;
  width: 562px;
  margin-bottom: 20px;
}
.stay_home_text {
  font-family: var(--font3);
  font-weight: 400;
  font-size: 18px;
  line-height: 133%;
  color: #7e7e7e;
  margin-bottom: 46px;
}
.stay_home_span {
  color: #3bb77e;
}
.stay_home_btn {
  background-color: #f53e32;
  left: 10%;
  transform: translate(83%);
}

.home_support {
  padding-top: 40px;
  padding-bottom: 114px;
}
.support_list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1px;
}
.support_item {
  width: 321px;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  align-items: center;
}
.support_item::before {
  content: "";
  background-image: url(../img/support_img.svg);
  background-repeat: no-repeat;
  width: 60px;
  height: 67px;
  display: inline-block;
  background-position: left center;
}
.support_title {
  font-weight: 600;
  font-size: 18px;
  line-height: 120%;
  color: #242424;
  margin-bottom: 5px;
  /* text-align: center; */
}
.support_text {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #adadad;
  /* text-align: center; */
}
